server.actors=10
server.workers=10
server.port=8080

dispatcher.interval=1000
dispatcher.thread_min=10
dispatcher.thread_max=100
dispatcher.broadcast_limit=100

handler.executors=1000

payloadQueue=payloadMysqlQueue

apns.sandbox=true
apns.expire=7
jdbc.executors=100
